{% extends "base.html" %}
{% block title %}Join{% endblock %}
{% block content %}
<div class="container">
    <h1>Join</h1>

    <div id="meeting-times">
        <h2>Meeting Times</h2>

        <div class="container-fluid">
            <div class="row_1">
                <h4> Wed 10-11 </h4>
            </div>
            <div class="row_2">
                <h4> Thur 10-11 </h4>
            </div>
            <div class="row_3">
                    <br>
                    <iframe src="http://www.google.com/calendar/embed?src=outreachprisum%40gmail.com&amp;ctz=America/Chicago"
                            style="border-width: 0px;width:100%;height:80vw;max-height:500px" frameborder="0"
                            scrolling="no"></iframe>
            </div>
        </div>
    </div>

    <div id="club-information">
        <h2>Club Information</h2>

        <div class="container-fluid">
            We make solar cars and try to win.
        </div>
    </div>


</div>
{% endblock %}
